 <!-- About Section -->
    <section class="success" id="slack">
        <div class="container slack">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Join us on <img height="50px" src="img/slack_white.png"/> Slack Chat</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="slackForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Enter your Email Address</label>
                                <input id="slackEmail" type="email" class="form-control" placeholder="Enter your Email Address" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="slackSuccess"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 center-block">
                                <button type="submit" class="btn btn-outline btn-lg">Join now !</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>